export HSD_RPC_URL="http://127.0.0.1:12037"
export HSD_API_KEY="replace-me"
export HSD_MAX_BLOCK_LAG="2"
export HSD_MIN_BLOCK_HEIGHT="300000"
export HSD_ALLOW_REMOTE_RPC="0"
export TOPOLOGY_DB="/mnt/hnscrawler/data/topology.sqlite"
export PUBLIC_DIR="/mnt/hnscrawler/public"
export PROVIDER_RULES="/mnt/hnscrawler/configs/provider_rules.json"

export GCP_PROJECT="denuo-web-site"
export GCP_ZONE="us-west1-b"
export GCP_REGION="us-west1"
export INDEXER_VM="hns-topology-indexer"
export INDEXER_DISK="hns-topology-indexer-disk"
export INDEXER_DISK_SIZE_GB="200"
export INDEXER_DISK_TYPE="pd-balanced"
export INDEXER_MOUNT="/mnt/hnscrawler"
export INDEXER_REPO_DIR="/mnt/hnscrawler/HNScrawler"
export INDEXER_HSD_PREFIX="/mnt/hnscrawler/hsd"
export INDEXER_ARCHIVE="/mnt/hnscrawler/hns-topology-public.tar.gz"
export INDEXER_USER="den"
export INDEXER_MACHINE_TYPE="e2-standard-2"
export INDEXER_IMAGE_FAMILY="debian-12"
export INDEXER_IMAGE_PROJECT="debian-cloud"
export INDEXER_SSH_READY_ATTEMPTS="24"
export INDEXER_SSH_READY_INTERVAL_SECONDS="5"
export CHECK_HSD_READY="1"
export MIN_INDEXED_HEIGHT="300000"
export BOOTSTRAP_LIMIT=""
export ALLOW_UNPAGINATED_GETNAMES="0"
export ALLOW_EMPTY_BLOCK_SCAN="0"
export ALLOW_UNRESOLVED_NAME_HASHES="0"
export INCREMENTAL_MAX_BLOCKS="300"
export INCREMENTAL_TO_HEIGHT=""
export JSONL_PATH="/mnt/hnscrawler/data/extracted_names.jsonl"
export EXPORT_LIMIT=""
export EXPORT_FORMAT="compact"
export JSONL_BOOTSTRAP_BATCH_SIZE="5000"
export STOP_HSD_FOR_EXPORT="1"
export RESTART_HSD_AFTER_EXPORT="1"
export ALLOW_RUNNING_HSD_EXPORT="0"
export HSD_NETWORK="main"
export HSD_MODULE_ROOT=""
export CONFIRM_PRODUCTION_RUN="0"
export DRY_RUN="0"
export RUN_PREFLIGHT="1"
export PROVISION_INDEXER="1"
export SETUP_INDEXER="1"
export SETUP_HSD="1"
export START_HSD="1"
export WAIT_FOR_HSD_READY="0"
export HSD_READY_ATTEMPTS="720"
export HSD_READY_INTERVAL_SECONDS="60"
export CONFIRM_HSD_SYNC="0"
export CONFIRM_HSD_SYNC_WINDOW="0"
export HSD_SYNC_WINDOW_MINUTES="30"
export RUN_PIPELINE="1"
export RUN_PUBLISH="1"
export RUN_ARCHIVE="1"
export ARCHIVE_DIR="/mnt/hnscrawler/archives"
export ARCHIVE_KEEP="10"
export BACKUP_BUCKET_URI=""
export LIVE_LIMIT="1000"
export LIVE_CONCURRENCY="4"
export LIVE_DELAY_MS="250"
export LIVE_TIMEOUT="5"
export INDEXER_FINAL_ACTION="stop"
export INDEXER_FAILURE_ACTION="stop"
export CONFIRM_PRODUCTION_WEB="0"

export DENUO_WEB_VM="denuoweb-vm"
export DENUO_WEB_HOST="denuoweb-vm"
export DENUO_WEB_PATH="/var/www/denuoweb/hns-topology"
export PUBLISH_VIA_GCLOUD="1"
export ALLOW_BOOT_DISK_PUBLISH="0"
export VALIDATE_BEFORE_PUBLISH="1"
export REQUIRE_LIVE_CHECKS="1"

export PROD_ARTIFACT_DISK="hns-topology-data"
export PROD_ARTIFACT_DISK_SIZE_GB="200"
export PROD_ARTIFACT_DISK_TYPE="pd-standard"
export PROD_ARTIFACT_MOUNT="/mnt/hns-topology"
export PROD_ARTIFACT_SITE_DIR="/mnt/hns-topology/site"
export REMOTE_TMP="/mnt/hns-topology/.incoming/hns-topology-public"

export DANE_SITE_NAME="denuoweb"
export DANE_CERT_PATH="/etc/ssl/denuoweb/denuoweb.crt"
export DANE_TLSA_TTL="300"
export DANE_INCLUDE_WWW="1"
