export HSD_RPC_URL="http://127.0.0.1:14037"
export HSD_API_KEY="replace-me"
export TOPOLOGY_DB="/mnt/hnscrawler/data/topology.sqlite"
export PUBLIC_DIR="/mnt/hnscrawler/public"
export PROVIDER_RULES="/mnt/hnscrawler/configs/provider_rules.json"

export GCP_PROJECT="denuo-web-site"
export GCP_ZONE="us-west1-b"
export GCP_REGION="us-west1"
export INDEXER_VM="hns-topology-indexer"
export INDEXER_DISK="hns-topology-indexer-disk"
export INDEXER_DISK_SIZE_GB="200"
export INDEXER_MACHINE_TYPE="e2-standard-2"
export INDEXER_IMAGE_FAMILY="debian-12"
export INDEXER_IMAGE_PROJECT="debian-cloud"

export DENUO_WEB_VM="denuoweb-vm"
export DENUO_WEB_HOST="denuoweb-vm"
export DENUO_WEB_PATH="/var/www/denuoweb/hns-topology"
export PUBLISH_VIA_GCLOUD="1"
