export HSD_RPC_URL="http://127.0.0.1:12037"
export HSD_API_KEY="replace-me"
export TOPOLOGY_DB="/mnt/hnscrawler/data/topology.sqlite"
export PUBLIC_DIR="/mnt/hnscrawler/public"
export PROVIDER_RULES="/mnt/hnscrawler/configs/provider_rules.json"

export GCP_PROJECT="denuo-web-site"
export GCP_ZONE="us-west1-b"
export GCP_REGION="us-west1"
export INDEXER_VM="hns-topology-indexer"
export INDEXER_DISK="hns-topology-indexer-disk"
export INDEXER_DISK_SIZE_GB="200"
export INDEXER_DISK_TYPE="pd-balanced"
export INDEXER_MOUNT="/mnt/hnscrawler"
export INDEXER_REPO_DIR="/mnt/hnscrawler/HNScrawler"
export INDEXER_HSD_PREFIX="/mnt/hnscrawler/hsd"
export INDEXER_ARCHIVE="/mnt/hnscrawler/hns-topology-public.tar.gz"
export INDEXER_USER="den"
export INDEXER_MACHINE_TYPE="e2-standard-2"
export INDEXER_IMAGE_FAMILY="debian-12"
export INDEXER_IMAGE_PROJECT="debian-cloud"

export DENUO_WEB_VM="denuoweb-vm"
export DENUO_WEB_HOST="denuoweb-vm"
export DENUO_WEB_PATH="/var/www/denuoweb/hns-topology"
export PUBLISH_VIA_GCLOUD="1"
export ALLOW_BOOT_DISK_PUBLISH="0"
export REQUIRE_LIVE_CHECKS="1"

export PROD_ARTIFACT_DISK="hns-topology-data"
export PROD_ARTIFACT_DISK_SIZE_GB="200"
export PROD_ARTIFACT_MOUNT="/mnt/hns-topology"
export PROD_ARTIFACT_SITE_DIR="/mnt/hns-topology/site"
export REMOTE_TMP="/mnt/hns-topology/.incoming/hns-topology-public"

export DANE_SITE_NAME="denuoweb"
export DANE_CERT_PATH="/etc/ssl/denuoweb/denuoweb.crt"
export DANE_TLSA_TTL="300"
export DANE_INCLUDE_WWW="1"
